#search-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-flow: row-reverse nowrap;
    -ms-flex-flow: row-reverse nowrap;
    flex-flow: row-reverse nowrap;
    width: 200px;
    float: left;
}

#search-wrapper #search {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-left: 0;
    border-radius: 0 25px 25px 0;
    color: #444;
    padding: .6rem .5rem;
    font-size: 15px;
    font-weight: lighter;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
    width: 150px;
}

#search-wrapper #search+i {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 25px 0 0 25px;
    height: 39px;
    border-right: 0;
    color: #777;
    padding: .67rem .65rem;
    -webkit-transition: border-color .2s ease;
    transition: border-color .2s ease;
}

#search-wrapper #search:focus {
    border-color: #999;
    outline: none;
}

#search-wrapper #search:focus+i {
    border-color: #999;
}

.btnsearch {
    border-radius: 10px;
    width: 150px;
}

#buscar{
    float: left;
    border-radius: 10px;
}

p-calendar {
    border-radius: 10px !important;
}

input {
    border-radius: 10px;
}

#guardar{
    border-radius: 10px;
}

button{
    border-radius: 10px;
}
