<!DOCTYPE html>
<html>

<head>
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Facturalo </title>

    <link id="theme-css" rel="stylesheet" type="text/css" href="../../../assets/theme/indigo/theme-light.css">
    <link id="layout-css" rel="stylesheet" type="text/css" href="../../../assets/layout/css/layout-indigo.css">

    <link rel="stylesheet" type="text/css" href="../../../assets/pages/primeng.min.css">
</head>

<body class="login-body">

    <div class="login-image">
        <div class="login-panel">
            <img src="../../../assets/layout/images/84224d5ca2a16f5c048b40cabc4c9f46371d8bfcd73e0c6cedfe20e5.png" alt="ecuador-layout" />
            <div class="log"><small>Recuperación de contraseña</small></div>
            <form [formGroup]="formulario" (ngSubmit)="ingresar()">
                <div class="ui-g-12">

                    <div class="input-wrapper">
                        <input  formControlName="contraseña" placeholder="Contraseña"  class="ui-inputtext ui-widget">
                        
                    </div>
                  </div>
                  <div class="ui-g-12">
                    <div class="input-wrapper">
                        <input formControlName="confirmarContraseña" placeholder="confirmarContraseña"  class="ui-inputtext ui-widget">
                        
                    </div>
                </div>
                
                <div class="checkbox-container">

                    <button type="submit"  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                            <span class="ui-button-text ui-c">Restablecer</span>
                        </button>&nbsp;
                    
                    <button type="button"  routerLink="" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-danger" >
                            <span class="ui-button-text ui-c">Cancelar</span>
                        </button>
                       
                </div>
                

                <div class="separator"></div>


                <p class="subinfo">V1.0</p>

            </form>

        </div>
    </div>


</body>

</html>